<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.dmitryshulga.spring.mvc"/>
    <!--в каком пакете будет поиск компонентов (бинов)-->
    <mvc:annotation-driven/> <!--добавление поддержки форматирования, валидации и различных преобразований-->

    <!--бин, который описывает как мы будем работать с нашим view-->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver"><!--класс, который за это отвечает-->
        <!--прописываем преффикс и суффикс для того, чтобы можно было образаться ко view просто по имени, а конфигурация добавит недостающие элементы-->
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>
